.solo{font-style: normal;
    color: black;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .solex{ margin-left: 116px;
   }